{{> navbar}}
<h2>{{titulo}}</h2>
<hr>
<br>
<ul id="productList">
    <!-- Productos se mostrarán aquí -->
</ul>
<br>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>
